@font-face {
    font-family: 'Galano Grotesque';
    src: url('../public/fonts/GalanoGrotesqueAlt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Galano Grotesque';
    src: url('../public/fonts/GalanoGrotesque-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Flare';
    src: url('../public/fonts/Quiche\ Flare\ W00\ Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html {
    scroll-padding-top: 10vh;
}

.icons {
    padding-right: 0.5em;
}

body {
    margin: 0;
    background-color: white;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 5vw;
    background-color: #9CADBE;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    height: 10vh;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 3.5vw;
    margin-right: 3vw;
    border: 0px;
    border-radius: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links li {
    padding: 0 2vw;
}

.nav-links li a {
    color: white;
    font-size: 1vw;
    font-family: 'Galano Grotesque', sans-serif;
}

.nav-links li a:hover {
    color: #666666;
}

.nav-links li a.active {
    color: #666666;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.main-section-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    background-size: contain;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../public/images/OP\ Logo-01.png);
}

.hero-button {
    padding: 1vh 2vw;
    background-color: #9CADBE;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 2.5vh;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    bottom: 10%;
    position: absolute;
    font-family: 'Galano Grotesque', sans-serif;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #666666;
    color: #fff;
    outline: none;
}

.hero-button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    padding: 4vw 4vh;
    background-color: #fff;
}

.main-container {
    display: flex;
    width: 90vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.main-container-text {
    margin: 1vh;
    margin-bottom: 2vh;
    padding: 2vh 2vw;
    flex-basis: 35%;
    color: #666666;
}

.main-container-text h2 {
    font-family: 'Galano Grotesque', sans-serif;
    font-weight: bold;
}

.main-container-text p {
    font-family: 'Galano Grotesque', sans-serif;
    margin-bottom: 5vh;
}

.highlight-text {
    color: #A28980;
    font-weight: 550;
}

.btn-discover {
    background-color: #9CADBE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Galano Grotesque', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-discover:hover,
.btn-discover:focus {
    background-color: #666666;
    color: #fff;
    outline: none;
}

.main-container-image {
    flex-basis: 50%;
}

.index-img {
    width: 30vw;
    height: 65vh;
    border: 10px;
    border-radius: 100%;
    margin-left: 5vw;
    object-fit: cover;
}

.embedded-image {
    display: none;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 4vw;
    background-color: #fff;
}

.content-wrapper {
    display: flex;
    align-items: stretch;
    margin: auto;
    width: 100%;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

.text-content h1 {
    font-family: 'Galano Grotesque', sans-serif;
    color: #666666;
}

.text-content h2 {
    font-family: 'Galano Grotesque', sans-serif;
    color: #9CADBE;
}

.text-content p {
    font-family: 'Quiche Flare', sans-serif;
    font-size: 2.5vh;
    color: #666666;
    max-width: 25vw;
}

.text-content span {
    font-family: 'Galano Grotesque', sans-serif;
    font-weight: bold;
    font-size: 2.5vh;
    color: #666666;
}

.image-content {
    flex: 1;
    max-width: 50%;
}

.image-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 85vh;
    border-radius: 10px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4vh 4vw;
}

.contact-content {
    flex-basis: 100%
}

.contact-details-container {
    display: flex;
    flex-direction: column;
}

.contact-info,
.contact-map {
    margin-bottom: 2vh;
}

.contact-details {
    padding: 0;
    margin: 0;
}

.contact-details li {
    font-family: 'Quiche Flare', sans-serif;
    color: #666666;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
}

.contact-details li a {
    font-family: 'Quiche Flare', sans-serif;
    color: #666666;
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: max-content;
    font-size: 2.5vh;
}

.contact-details img {
    width: 1.5em;
    padding-right: 0.5em;
}

.contact-section a:hover {
    color: #9CADBE;
}

.contact-section p:hover {
    color: #9CADBE;
}

.contact-section h2 {
    font-family: 'Galano Grotesque', sans-serif;
    color: #666666;
    font-size: 4vh;
    margin-bottom: 1vh;
}

.contact-section h4 {
    font-family: 'Galano Grotesque', sans-serif;
    color: #666666;
    font-size: 2.5vh;
}

.contact-section p {
    font-family: 'Quiche Flare', sans-serif;
    color: #666666;
    font-size: 2.5vh;
    margin-bottom: 1.5vh;
}

.staff-container {
    display: flex;
    justify-content: center;
}

.staff-card {
    background-color: #9CADBE;
    border-radius: 1vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 3vh;
    width: 20vw;
    height: auto;
    text-align: center;
}

.staff-image {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    object-fit: cover;
    margin: 2vh auto;
    display: block;
}

.staff-details {
    color: white;
    font-size: 2.2vh;
    margin-bottom: 1vh;
    font-family: 'Galano Grotesque', sans-serif;
}

.staff-card h4 {
    font-family: 'Quiche Flare', sans-serif;
    color: white;
}

.staff-card h2 {
    font-family: 'Quiche Flare', sans-serif;
    color: white;
}

.separator {
    font-size: 3vh;
    color: white;
    margin: 0.5vh auto;
    font-weight: bold;
}

.services-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
}

.services-landing-div {
    flex-basis: 50%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

.services-landing-div img {
    width: 60vw;
    height: 70vh;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.services-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.services-title {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Galano Grotesque', sans-serif;
    color: #9CADBE;
}

.services-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.service-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    height: 35vh;
    margin: 1vw;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
}

.separator-gray {
    font-size: 3vh;
    color: #666666;
    margin: 0.5vh auto;
    font-weight: bold;
}

.service-card h3 {
    margin-bottom: 0.5rem;
    font-family: 'Quiche Flare', sans-serif;
    color:#666666;
    font-size: 16px;
    break-inside: avoid-column; 
}

footer {
    background-color: #9CADBE;
    color: #ffffff;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer-section {
    width: 100%;
    margin: 1vh 5vw;
    text-align: center;
}

.footer-section h3 {
    margin-bottom: 1vh;
    font-family: 'Galano Grotesque', sans-serif;
    font-weight: bold;
}

.footer-section p {
    font-size: 2vh;
    font-family: 'Quiche Flare', sans-serif;
    color: white;
}

.footer-section ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-section li {
    font-family: 'Quiche Flare', sans-serif;
    font-size: 2vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section a {
    color: white;
}

.footer-section a:hover {
    color: #666666;
}

.footer-bottom {
    padding: 2vh 2vw;
    border-top: 1px solid #ffffff;
    font-size: 1.4vh;
    display: flex;
    justify-content: left;
    background-color: #9CADBE;
    color: white;
    font-family: 'Quiche Flare', sans-serif;
}

@media (max-width: 1024px) {
    .logo {
        width: 10vw;
        height: 10vh;
    }

    .hamburger {
        display: block;
        background-color: #9CADBE;
        border: none;
        color: white;
        padding: 0;
        font-size: 5vh;
        cursor: pointer;
        position: absolute;
        z-index: 1500;
        right: 2vw;
        margin: 3vw;
        margin-right: 5vw;
    }

    .nav-links {
        position: fixed;
        top: 11vh;
        right: -100vw;
        height: 89vh;
        width: 100vw;
        background-color: #9CADBE;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
        z-index: 1000;
        padding-top: 4vh;
    }

    .nav-links li {
        width: 100%;
        padding: 4vh 0;
        padding-left: 3vw;
        display: flex;
        justify-content: center;
    }

    .nav-links li a {
        font-size: 2.5vh;
        padding: 2vh 2vw;
        text-align: center;
        width: 100%;
    }

    .nav-links.active {
        right: 0;
    }

    .hamburger.active {
        position: fixed;
        top: 2vh;
        right: 2vw;
        z-index: 1501;
    }

    .main-section-landing {
        background-size: contain;
    }

    .hero-button {
        bottom: 20%;
    }

    .main-container-text p {
        font-size: 1.5vh;
    }

    .btn-discover {
        font-size: 2vh;
    }

    .content-wrapper {
        justify-content: center;
    }

    .text-content {
        flex-basis: 100%;
        max-width: 90%;
    }

    .text-content h1,
    h2,
    span {
        font-size: 3vh;
    }

    .text-content p {
        max-width: 80vw;
    }

    .image-content {
        display: none;
    }

    .image-content img {
        display: none;
    }

    .staff-container {
        align-items: center;
        flex-direction: column;
        margin: 2vh auto;
        max-width: 90vw;
    }

    .staff-card {
        margin: 2vh;
        padding: 2vh;
        width: 50vw;
    }

    .staff-card h4 {
        font-size: 2.5vw;
    }

    .staff-image {
        width: 15vw;
        height: 15vh;
    }

    .contact-details li,
    p {
        font-size: 2vh;
    }

    .contact-map p {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-map iframe {
        display: block;
        margin: 0 auto;
        width: 90vw;
    }

    .services-landing img {
        width: 85%;
        height: 40vh;
        margin-top: 10vw;
    }

    .services-title {
        font-size: 8vw;
    }

    .service-card {
        width: 40vw;
    }

    .service-card h3 {
        font-size: 3vw;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section li {
        font-size: 2.5vh;
    }

    .footer-section p {
        font-size: 2.5vh;
    }

    .footer-section h3 {
        font-size: 3vh;
    }

}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        background-color: #9CADBE;
        border: none;
        color: white;
        margin: 3vw;
        margin-right: 5vw;
        font-size: 5vh;
        cursor: pointer;
        position: absolute;
        z-index: 1500;
        padding: 0;
    }

    .nav-links {
        position: fixed;
        top: 10vh;
        right: -100vw;
        height: 90vh;
        width: 100vw;
        background-color: #9CADBE;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
        z-index: 1000;
        padding-top: 4vh;
    }

    .nav-links li {
        width: 100%;
        padding: 3vh 0;
        padding-left: 3vw;
    }

    .nav-links li a {
        font-size: 2.5vh;
        padding: 2vh 2vw;
        text-align: center;
        width: 100%;
    }

    .nav-links.active {
        right: 0;
    }

    .hamburger.active {
        position: fixed;
        top: 2vh;
        right: 2vw;
        z-index: 1501;
    }

    .logo {
        width: 10vw;
        height: auto;
    }

    .main-section-landing {
        background-size: contain;
        height: 80vh;
    }

    .main-container {
        flex-direction: column;
        height: 90vh;
    }

    .main-container-text {
        flex-basis: 90%;
    }

    .main-container-text p {
        font-size: 1.9vh;
    }

    .main-container-image {
        display: none;
    }

    .index-img {
        display: none;
    }

    .embedded-image {
        display: flex;
        text-align: center;
        margin: 2vh 0;
    }

    .embedded-image img {
        width: 70vw;
        height: 35vh;
        border-radius: 100%;
    }

    .content-wrapper {
        justify-content: center;
    }

    .text-content {
        flex-basis: 100%;
        max-width: 90%;
    }

    .text-content h1,
    h2,
    span {
        font-size: 3vh;
    }

    .text-content p {
        max-width: 80vw;
    }

    .image-content {
        display: none;
    }

    .image-content img {
        display: none;
    }

    .contact-details li {
        font-size: 2vh;
    }

    .contact-map p {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-map iframe {
        display: block;
        margin: 0 auto;
        width: 90vw;
    }

    .staff-container {
        align-items: center;
        flex-direction: column;
        margin: 2vh auto;
        max-width: 90vw;
    }

    .staff-card {
        margin: 2vh;
        padding: 2vh;
        width: 60vw;
    }

    .staff-card h4 {
        font-size: 4.5vw;
    }

    .staff-image {
        width: 35vw;
        height: 35vw;
    }

    .services-landing img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 0.5vw;
        height: 28vh;
        margin-top: 10vw;
    }

    .services-title {
        font-size: 10vw;
    }

    .services-cards {
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }

    .service-card {
        width: 40vw;
        height: auto;
    }

    .service-card h3 {
        font-size: 4.5vw;
    }

    .footer-content {
        align-items: center;
        flex-direction: column;
        padding: 3vw;
    }

    .footer-content h3 {
        font-size: 5vw;
    }

    .footer-content a {
        font-size: 4.5vw;
    }

    .footer-content li {
        font-size: 4.5vw;
    }

}